<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MoviesDB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchtxtbox">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="margin: 15px;" id="searchbtn">Search</button>
          <% if(typeof session !='undefined'){ %>
            <button class="btn btn-info"><a class="text-white" href="/logout">Logout</a></button>  
          <%}%>
          <% if(typeof session =='undefined'){ %>
            <button class="btn btn-info"><a class="text-white" href="/login">Login</a></button>  
          <%}%>
        </form>
      </div>
    </div>
  </nav>
 